{% extends 'base.html.twig' %}

{% block title %}GameTroc - Accueil
{% endblock %}

{% block body %}
	{% for annonce in annonces %}
		<a href="{{ path('show_annonce',{id:annonce.id} ) }}">
			<div class="uk-card uk-card-hover">
				<img src="{{ asset('upload/'~ annonce.photo) }}" alt="photo du jeu" width="100" height="100">
				{{ annonce.titre}}
				{# {{ annonce.texte | raw}} #}


			</div>
		</a>
	{% endfor %}
{% endblock %}
