{% extends 'base.html.twig' %}

{% block title %}GameTroc - Admin
{% endblock %}

{% block body %}
	<li class="uk-navbar-item">
		<a href="{{ path('admin_users') }}">
			<i class="fas fa-user-cog"></i>Utilisateurs</a>
	</li>

{% endblock %}
