{% extends 'base.html.twig' %}

{% block title %}GameTroc - Charte
{% endblock %}

{% block body %}
	<div class="uk-margin-left uk-margin-right">
		<h1>La communaut&eacute; GameTroc</h1>

		<p>GameTroc est un lieu dans lequel les utilisateurs peuvent &eacute;changer de l'information.<br/>
			GameTroc ne fournit ni ne vend l'information et les produits ou services d&eacute;crits dans les annonces de notre site.<br/>
			GameTroc ne peut contr&ocirc;ler la qualit&eacute;, v&eacute;racit&eacute;, sinc&eacute;rit&eacute; ou l&eacute;galit&eacute; de toute l'information, produits ou services plac&eacute;s sur notre site et en cons&eacute;quence il est envisageable que vous soyez confront&eacute; &agrave; certains contenus choquants, ind&eacute;cents ou r&eacute;pr&eacute;hensibles.<br/>
			Vous &ecirc;tes conscient que vous, et non GameTroc, &ecirc;tes enti&egrave;rement responsable pour toute information plac&eacute;e par vous sur notre site et vous engagez &agrave; respecter les lois et r&eacute;gulations applicables.<br/>
			Vous pouvez placer de l'information dans la limite de vos droits l&eacute;gaux.</p>

		<h2>R&egrave;gles de fonctionnement</h2>

		<h3>Liens</h3>
		<p>Il est strictement interdit de placer des liens de type publicitaires dans vos annonces ou dans les réponses de GameTroc<br/>
			Tout contenu plac&eacute; sur GameTroc qui contiendrait des liens de type publicitaires sera supprim&eacute;.</p>

		<h3>Pas de Spam</h3>
		<p>GameTroc n'autorise ni ne tol&egrave;re aucune communication non sollicit&eacute;e par les utilisateurs de notre site, incluant mais non limit&eacute; &agrave; : d&eacute;marchage, sollicitation publicitaire, courriel non sollicit&eacute;, &quot;junk mail&quot;, &quot;cha&icirc;nes&quot; ou &quot;organisations pyramidales&quot;.<br/>
			Si vous avez le sentiment d'avoir re&ccedil;u des communications non sollicit&eacute;es suite &agrave; votre utilisation de GameTroc, contactez-nous.</p>

		<h3>Contenu retir&eacute; du site</h3>
		<p>GameTroc a le droit mais non l'obligation, de refuser, de d&eacute;placer ou de retirer du site tout contenu jug&eacute; non conforme aux buts et &agrave; l'esprit de sa charte.<br/>
			Nous pouvons vous suspendre ou vous interdire l'acc&egrave;s au site si nous consid&eacute;rons que vos actions d&eacute;rangent l'activit&eacute; de tout autre utilisateur du site ou puisse engager la responsabilit&eacute; de GameTroc ou de tout autre utilisateur de ce site.</p>

		<h3>Age limite autoris&eacute;</h3>
		<p>Vous devez &ecirc;tre &acirc;g&eacute; de 14 ans ou plus pour utiliser ce site.</p>

		<h3>Annonces multiples et doublons</h3>
		<p>Vous ne pouvez pas placer des annonces dont le contenu est similaire ou proche (plusieurs annonces pour la vente d&rsquo;un m&ecirc;me article, pour un m&ecirc;me service, etc.).<br/>
			f. Comptes multiples<br/>
			Chaque personne s'engage &agrave; ne poss&eacute;der qu'un seul compte sur GameTroc. GameTroc a le droit mais non l'obligation de supprimer les comptes suppl&eacute;mentaires.<br/>
			GameTroc a le droit mais non l'obligation de supprimer tous les comptes d'un membre, si tous ou une partie de ces comptes sont utilis&eacute;s pour d&eacute;tourner l'utilisation normal du site (diffusion de messages personnels ou commerciaux, fraude au syst&egrave;me de notation ...), sans aucun remboursement.</p>

		<h3>Annonces interdites</h3>
		<p>L'utilisation de ce site interdit de placer une annonce ou de transmettre un message :<br/>
			sous une adresse mail ou un pseudo contenant les informations personnelles d'un individu ne souhaitant pas qu'elles apparaissent sur ce site<br/>
			qui soit faux, diffamatoire, profane, haineux, abusif, pornographique, obsc&egrave;ne ou de toute autre nature inappropri&eacute;e (et laiss&eacute; &agrave; notre seule discr&eacute;tion)<br/>
			qui renvoie directement ou indirectement vers un site autre que GameTroc<br/>
			d'une mani&egrave;re ill&eacute;gale ou qui encourage la violence ou toute conduite criminelle<br/>
			qui d&eacute;voile des &eacute;l&eacute;ments de nature priv&eacute;e ou viole la vie priv&eacute;e d'une personne ou sa publicit&eacute; (inclus la publication de visages ou de signatures)<br/>
			qui re-publie de l'information plac&eacute;e par un autre utilisateur<br/>
			qui prenne l'identit&eacute; de tout employ&eacute; de GameTroc<br/>
			qui encourage les autres &agrave; violer les conditions d'utilisation de GameTroc<br/>
			qui contrevienne aux droits de propri&eacute;t&eacute; physique ou intellectuelle d'un tiers<br/>
			qui fasse de la publicit&eacute; ou la promotion de cadeaux, tirages au sort ou prix divers<br/>
			qui vende de l'information, des produits ou des services dont la vente, la distribution ou la divulgation est sujette &agrave; r&eacute;gulations.<br/>
			Vous ne pouvez placer une annonce ou transmettre un message sur ce site dont le but est de vendre ou troquer :<br/>
			des objets contrefaits<br/>
			de la drogue (interdite ou sur ordonnance)<br/>
			tout type de m&eacute;dicament<br/>
			des armes &agrave; feu ou armes blanches (hors objets de collection)<br/>
			des organes ou parties de corps humain<br/>
			des animaux<br/>
			des billets de loterie<br/>
			du tabac<br/>
			tout type de produit dangereux<br/>
			des listes d'adresses (postales ou &eacute;lectroniques).<br/>
			tout service li&eacute; au jeu, &agrave; la prostitution ou activit&eacute;s sexuelles en g&eacute;n&eacute;ral est strictement interdit sur GameTroc.</p>

		<p>L'&eacute;quipe GameTroc rappelle que l'ensemble des agissements sus-vis&eacute;s constituent des infractions d&eacute;finies et r&eacute;prim&eacute;es par le code p&eacute;nal fran&ccedil;ais, dont la violation pourrait vous engager &agrave; des poursuites ou sanctions judiciaires, l'Equipe GameTroc ne pouvant &ecirc;tre tenue responsable du contenu de vos annonces et messages.</p>

		<h3>Garantie du service</h3>
		<p>GameTroc exclut toutes garanties en mati&egrave;re de fiabilit&eacute;, et de performance des services de GameTroc.<br/>
			GameTroc ne saurait en aucun cas &ecirc;tre tenu responsable des pannes de service ou des baisses de performance r&eacute;sultant directement ou indirectement de catastrophes naturelles, de forces ou de causes qui &eacute;chappent &agrave; son contr&ocirc;le raisonnable.<br/>
			GameTroc n'apporte aucune garantie pour aucune information ou aucun conseil obtenu via les services de GameTroc.<br/>
			GameTroc n'apporte aucune garantie pour les services ou les biens re&ccedil;us via (ou dont la promotion est assur&eacute;e via) les services de GameTroc ou via les liens propos&eacute;s par les services de GameTroc, ni pour aucune information ou aucun conseil re&ccedil;u via les liens propos&eacute;s dans les services de GameTroc.</p>

		<h3>Limites de responsabilit&eacute;</h3>
		<p>Nous n'exer&ccedil;ons aucun contr&ocirc;le sur la qualit&eacute;, la s&ucirc;ret&eacute; ou la lic&eacute;it&eacute; des objets r&eacute;pertori&eacute;s, la v&eacute;racit&eacute; ou l'exactitude dans les annonces mises en ligne, la capacit&eacute; des membres &agrave; troquer ou &agrave; vendre lesdits biens ou services ni la capacit&eacute; des acheteurs &agrave; payer lesdits biens ou services. Nous ne pouvons assurer que le troqueur / vendeur ou acheteur concluront la transaction.<br/>
			Toute transaction engag&eacute;e sur GameTroc n'est pas de la responsabilit&eacute; de GameTroc.<br/>
			Nous sommes un service de mise en relation et n'assurons rien du suivi des transactions.</p>


		<h3>Droit d'acc&egrave;s</h3>
		<p>Conform&eacute;ment &agrave; la Loi n&deg; 78-17 du 6 janvier 1978, dite loi &quot;Informatique et Libert&eacute;s&quot;, vous disposez d'un droit d'acc&egrave;s, de modification, de rectification et de suppression de toutes donn&eacute;es personnelles (art. 34 de la loi &quot;Informatique et Libert&eacute;s&quot;) port&eacute;es &agrave; la connaissance de GameTroc lors de l'utilisation du site GameTroc.</p>
	</div>
{% endblock %}
